@charset "utf-8";
/* CSS Document */
*, *::before, *::after {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  min-width: 1px;
}
@media all and (max-width: 600px) {
  .rwd-grid {
    margin-top: 10rem;
    display: grid;
    width: 100%;
    grid-template-areas:  "map" "info" ;
    grid-template-columns: 100%;
    grid-template-rows:500px;
  }
  .col-1 {
    width: 16.66%;
  }
  .col-2 {
    width:calc(100vw - 45px);
  }
  .col-3 {
    width: 50%;
  }
  .col-4 {
    width: 66.664%;
  }
  .col-5 {
    width: 83.33%;
  }
  .col-6 {
    width: 100%;
  }
  nav h1 a {
    color: #fff;
    /*font-size: 14pt;*/
    font-size: 0.6rem;
    line-height: 6rem;
    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
}
@media all and (min-width: 601px) and (max-width: 864px){
  .rwd-grid {
    margin-top: 10rem;
    display: grid;
    width:100%;
    height: calc(100vh - 10rem);
    overflow: hidden;
    grid-template-areas: "info map";
    grid-template-columns: 50% 50%;
    grid-template-rows:auto;
  }
  .col-1 {
    width: 16.66%;
  }
  .col-2 {
    width:calc(100vw - 45px);
  }
  .col-3 {
    width: 50%;
  }
  .col-4 {
    width: 66.664%;
  }
  .col-5 {
    width: 83.33%;
  }
  .col-6 {
    width: 100%;
  }
  nav h1 a {
    color: #fff;
    /*font-size: 14pt;*/
    font-size: 1rem;
    line-height: 6rem;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
}

@media all and (min-width: 865px){
  .rwd-grid {
    margin-top: 10rem;
    display: grid;
    width:100%;
    height: calc(100vh - 10rem);
    overflow: hidden;
    grid-template-areas: "info map";
    grid-template-columns: 35% 65%;
    grid-template-rows:auto;
  }
  .col-1 {
    width: 16.66%;
  }
  .col-2 {
    width: calc(32vw - 40px)
  }
  .col-3 {
    width: 50%;
  }
  .col-4 {
    width: 66.664%;
  }
  .col-5 {
    width: 83.33%;
  }
  .col-6 {
    width: 100%;
  }
  nav h1 a {
    color: #fff;
    /*font-size: 14pt;*/
    font-size: 2rem;
    line-height: 6rem;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
  }
}


.rwd-header {
  grid-area: header;
}
.rwd-map {
  grid-area: map;
  height: auto;

}
.rwd-info {
  grid-area: info;
  overflow: scroll;
}
.rwd-footer {
  grid-area: footer;
}

.grid-container {
  width: 100%;
  /*max-width: 1690px;     可选 */
}


body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  /*height: 6rem;*/
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}

#breadcrumb {
    padding: 1rem 40px 1rem;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
  font-size: 2rem;
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  font-size: 2rem;
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px;*/
  height: auto;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  line-height: 3rem;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1rem;
  height: 2rem;
  letter-spacing: 0;
  margin: 10px 20px;
  padding: 0 10px;
  width: max-content;
  /*
  font-size: 11pt;
  margin: 10px;
   width: 200px;
   height: 35px;
   */
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  /*width: 270px;*/
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  /*display: block; min-height: 248px;*/
  display: inline-block;
  height: auto;
  margin: 0;
  max-width: 100%;

  min-width: 100%;

}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  height: 5rem;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  /* font-size: 14pt;*/
}
#restaurants-list p {
  margin: 0;
  font-size: 1.4rem;
  /*font-size: 11pt;*/
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: block;
  /* font-size: 1.4rem; */
  font-size: 10pt;
  margin: 0 auto;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;

  /*margin-top:13rem;*/
  /*height: 87%;
  position: fixed;
  top: 80px;
  width: 50%;*/
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  /*width: 50%
   padding: 25px 40px;*/
  font-size: 1rem;
  padding: 1rem 3rem;

}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2rem;
  /*font-size: 20pt;*/
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  /*width: 90%;*/
  width: 100%;
  border-radius: 4rem 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  /*width: 90%;*/
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /* padding: 140px 40px 30px;
   width: 50%;*/
  padding: 30px 5% 30px;
}
#reviews-container {
  /* padding: 30px 40px 80px;*/
  padding: 40px 5% 130px;
}
#reviews-container h2 {
  color: #f58500;
  /*font-size: 24pt;*/
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;

  position: relative;

  /*
  width: 85%;
   padding: 0 20px 20px;
   border-radius: 15px 5px;
  */
  border-radius: 20px 0;
}
#reviews-list li p:first-child {
  background-color: #202020;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  text-indent: 20px;
}
#reviews-list li p:nth-child(2) {
  position: absolute;
  right:5%;
  top: 0;
  font-size: 16px;
  line-height: 60px;
  color: #848484;
}
#reviews-list li p:nth-child(3){
  padding: 5px 20px;
  background-color: #f3a61a;
  line-height: 2rem;
  font-size: 1rem;
  margin: 1rem 20px;
  color: #fff;
  width: max-content;
}
#reviews-list li p:nth-child(4){
  font-size: 16px;
  margin: 10px 5% 10px 5%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
#restaurants-list li p:nth-child(4){
  height: 5.2rem;
}
